<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    function substitutePdfVariables() {
      function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
      }
      function substitute(name) {
        var value = getParameterByName(name);
        var elements = document.getElementsByClassName(name);

        for (var i = 0; elements && i < elements.length; i++) {
          elements[i].textContent = value;
        }
      }
      ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection']
        .forEach(function (param) {
          substitute(param);
        });
    }
  </script>
  <style>
    body,
    table,
    tbody,
    tr,
    td {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      border-spacing: 0;
    }
    .footer {
      width: 100%;
      font-size: 14px;
      font-family: serif;
      color: #333333;
      background: transparent;
    }
    .footer__body {
      text-align: center;
    }
  </style>
</head>
<body onload="substitutePdfVariables()">
  <table>
    <tbody>
      <tr>
        <td>
          <div class="header">
            <div class="header__body">&nbsp;</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
