<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
</head>
<body>
  <div id="posts" class="container">
    <header>
      <h1>Posts</h1>
      <nav>
        <a href="/me">Me</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <main>
      <% posts.forEach(function(post) { %>
        <div class="post">
          <h4><%= post.title %></h2>
          <p><%= post.content %></p>
          <p>Written by <% user.firstname %> <%=user.lastname %> on <%= post.createdAt %></p>
        </div>
      <% }) %>
    </main>
    <footer>
      <p>© 2023</p>
    </footer>
  </div>
</body>
</html>
